<!DOCTYPE html>
<html property="dcterms:language" content="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset='utf-8' />
<title>{{ page.title }}</title>
<meta name="description"
        content="{{ page.abstract }}">

{% for auth in page.authors %}
	<meta name="author" lang="en" content="{{ auth.name }}" />
{% endfor %}

<meta name="keywords" content="{{ tags }}">
</head>

<body>
<article typeof="Article" vocab="http://schema.org/">
  <header>
    <h1 property="name">{{ page.title }}</h1>
    <dl>
      <dt>Authors:</dt>
      	{% for auth in page.authors %}
      	<dd property="author">
				<div typeof="Person">
                <span property="name">{{ auth.name }}</span>
                {% if auth.email %}
                    <a property="email" href="mailto:{{ author.email }}">{{ auth.email }}</a>
                {% endif %}
                </div>
        </dd>
        {% endfor %}
    </dl>
  </header>
  {{ content }}
  <footer> 
  <hr/><a rel="license" href="http://creativecommons.org/licenses/by/3.0/au/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/au/88x31.png" /></a><br />
     is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/au/deed.en_US">Creative Commons Attribution 3.0 Australia License</a>. </footer>
</article>
<footer>
  <hr/>
  <p>Published with <a href="http://pages.github.com">GitHub Pages</a>. <a href="https://github.com/dedickinson/OpenProjects">View the Project on GitHub</a></p>
</footer>
</body>
</html>